apiVersion: v1
kind: Service
metadata:
  name: tetris-service
  namespace: tetris-namespace
spec:
  selector:
    app: tetris
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30007 # NodePort range is 30000-32767
  type: NodePort

